.display-details h1 {
    margin: 30px auto;
    width: 900px;
    font-size: 32px;
}

.border {
    position: relative;
    width: 900px;
    background-color: black;
    text-align: center;
    margin: 0px auto;
    height: 24px;
    margin-bottom: 10px;
}

.title-border {
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    left: 385px;
    padding: 5px 25px;
    border-radius: 45%;
    font-size: 22px;
}

.product-tumb-small {
    width: 900px;
    margin: 130px;
    border: 1px solid black;
    border-style: dashed;
}

.product-tumb-small img {
    width: 100%;
    padding: 70px;
}

table {
    width: 900px;
    text-align: left;
}

table th {
    background-color: rgb(212, 208, 208);
    border: 1px solid black;
}

table td {
    background-color: rgb(245, 245, 245);
    border: 1px solid black;
    border-width: 0px 1px 1px 1px;
}

.spacing-table-element {
    margin: 50px 10px;
}

.slide-show-product {
    width: 400px;
    display: inline-block;
    text-align: center;
    margin-left: 383px;
    height: 150px;
}

.comment-section {
    display: flex;
    justify-content: flex-end;
    max-width: 888px;
    margin: 10px auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

.circle-avt {
    display: inline-block;
    width: 222px;
    margin: 30px;
}

.circle-avt img {
    border-radius: 100%;
    width: 100%;
}

.comment-content h4,
p {
    margin-bottom: 10px;
}